<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="/stylesheets/firststyle.css">
</head>
<body>
  <div id="page">
  <div id="overlay">
    <h1>Welcome</h1>
   <a href="/register" id="start"> <button>Get Started</button></a>
   <a href="/login" id="login"> <button>Login</button></a>
  </div>
  <div id="overlay1">
    <h2>Do You Wanna <b> Join Us</b>?</h2>
    <video id="intro" autoplay muted loop src="/videos/Untitled video - Made with Clipchamp.mp4"></video>
    <div id="smvideo">
      <video autoplay loop muted id="midle" src="https://cdn.pixabay.com/vimeo/818026304/black-hole-159048.mp4?width=640&hash=b2d92bf7e2cf96abe378f6fc00bf1457e8fe1ef4"></video>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>
