*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background: url(https://plus.unsplash.com/premium_photo-1682123992706-1c68fcfd02e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1877&q=80);
}
#videos{
    position: relative;
    left: 50%;
    top: 18%;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
}
#videos video{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
    z-index: 99999;
}
.continer{
    color: aliceblue;
    position: absolute;
    height: 60%;
    width: 25%;
    left: 3%;
    top: 18%;
    background: linear-gradient(#A4C2A6, #799F86, #496F60, #264540);
    border-radius: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
.continer h1{
    margin-top: 45px;
    margin-left: 100px;
    font-size: 40px;
}
.mb-3{
    font-size: 20px;
   margin-left: 45px;
   margin-top: 25px;
}
.mb-3 input{
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 10px;
    background-color: #ADD9E6;
    outline: none;
    border: none;
    color: #000;
}
.continer button{
    padding: 7px 20px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 135px;
    outline: 2px solid #A4C2A6;
    border-radius: 20px;
    color: #fff;
    background-color: #A4C2A6;
    border: none;
}
